.clubDropdown {
  padding: 40px;
  border: var(--primary-color1) 2px solid;
  flex-direction: column;
  display: flex;
}

.clubItem {
  display: flex;
  align-items: center;
}

.clubImage {
  width: 50px;
  height: 50px;
}

